name: Post-Release Agent Metadata Upload

on:
  release:
    types: [released]

jobs:
  update-agent-metadata:
    name: Upload agent metadata to New Relic
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Extract version from release tag
        id: version
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          VERSION="${VERSION#v}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Extracted version: $VERSION"


      - name: Upload to Agent Metadata
        uses: newrelic/agent-metadata-action@v1.0.6
        with:
          newrelic-client-id: ${{ secrets.NEWRELIC_CLIENT_ID }}
          newrelic-private-key: ${{ secrets.NEWRELIC_PRIVATE_KEY }}
          agent-type: NRPrometheusAgent
          version: ${{ steps.version.outputs.version }}
          git-ref: ${{ github.event.release.tag_name }}
          apm-control-nr-license-key: ${{ secrets.APM_CONTROL_NR_LICENSE_KEY_STAGING }}
